<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Teknologi2</title>
</head>
<body>
<h2>Velkommen til din students program</h2>
<h5>Her kan du oprette en ny elev</h5>

<div>
    <form action="/add-new" method="post">
        <input placeholder="indsæt navn" type="text" name="name">
        <br>
        <input placeholder="indsæt alder" type="number" name="age">
        <br>
        <input placeholder="indsæt uddannelse" type="text" name="education">
        <br>
        <input type="submit" value="Tilføj">
    </form>
</div>


</body>
</html>